In [ ]:
import json
import pandas

with open('./cards_minified.json', 'r') as f:
    o = json.load(f)

df = pandas.DataFrame(o)

In [30]:
df = pandas.DataFrame(o)

arr    = ['onyx', 'sapphire', 'emerald', 'ruby', 'diamond']
sorted = ['diamond', 'sapphire', 'emerald', 'ruby', 'onyx']
costs  = ['onyx', 'diamond', 'ruby', 'sapphire', 'emerald']

df = df.rename(columns={
    "bonus": "engine",
    "points": "prestige",
})

# from number to name
df['engine'] = [arr[i] for i in df['engine']]

# sort tier first
df.sort_values(by=["tier"], inplace=True)

# sort 'engine' by doing magic jack shit
from functools import reduce

disassembled = [df[df['engine']==gem] for gem in sorted]
assembled = reduce(lambda a, b: pandas.concat([a, b], ignore_index=True), disassembled)

df = assembled

# mutate 'cost' col
costs_col = df['cost']
costs_col = [{costs[i]: cost_row[i] for i in range(5)} for cost_row in costs_col]
df['cost'] = costs_col

display(df)

     engine  prestige                                               cost  tier
0   diamond         0  {'onyx': 0, 'diamond': 3, 'ruby': 0, 'sapphire...     1
1   diamond         0  {'onyx': 3, 'diamond': 1, 'ruby': 1, 'sapphire...     1
2   diamond         0  {'onyx': 0, 'diamond': 0, 'ruby': 0, 'sapphire...     1
3   diamond         0  {'onyx': 2, 'diamond': 2, 'ruby': 0, 'sapphire...     1
4   diamond         0  {'onyx': 1, 'diamond': 2, 'ruby': 0, 'sapphire...     1
..      ...       ...                                                ...   ...
85     onyx         3  {'onyx': 6, 'diamond': 0, 'ruby': 0, 'sapphire...     2
86     onyx         4  {'onyx': 0, 'diamond': 0, 'ruby': 7, 'sapphire...     3
87     onyx         3  {'onyx': 0, 'diamond': 3, 'ruby': 3, 'sapphire...     3
88     onyx         5  {'onyx': 3, 'diamond': 0, 'ruby': 7, 'sapphire...     3
89     onyx         4  {'onyx': 3, 'diamond': 0, 'ruby': 6, 'sapphire...     3

[90 rows x 4 columns]

In [31]:
json_str = df.to_json(orient="records")

parsed = json.loads(json_str)
pretty = json.dumps(parsed, indent=4)

with open("cards.json", "w") as f:
    f.write(pretty)